{
  "presets": [
    "next/babel"
  ]
  ,
  "plugins": [
    "transform-decorators-legacy", 
    ["import", { libraryName: "antd", style: "true" }] // `style: true` for less
    ,[
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }]
    ,[
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$", "less$"]
      }
    ]
  ]
}