.ArticleRowRoot {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    .ArticleRowHeader {
        font: 14px;
        color: #b2b2b2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .ArticleRowTitle  {
        font-size: 20px;
        color: #000000;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .ArticleRowContent {
        display: flex;
        flex-direction: row;
        .ArticleRowContentImage {
            max-width: 100px;
            max-height: 100px;
        }

        .ArticleRowContentDescription {
            font-size: 15px;
            color: #4E4E4E;
        }
    }
    .ArticleRowMoreButton {
        margin: 10px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        button {
            background-color: #1fb18a;
            border:1px solid #1fb18a;
        }
    }
}