.CategoryList {
    .RightSearch {
         background-color: #ffffff;
         display: flex;
         justify-content: center;
         padding: 20px;
         border-radius: 5px;
    }
    .RightCategory {
         background-color: #ffffff;
         display: flex;
         justify-content: center;
         padding: 20px;
         margin-top: 20px;
         border-radius: 5px;
    }
    .RightArchive {
         background-color: #ffffff;
         margin-top: 20px;
         padding: 20px;
    }
 }